*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.btn{
	width: 100%;
}
.form-horizontal{
	margin-top: 12%;	
	width: 90%;	
}
html{
	height: 100%;
	overflow: hidden;
}
body{
	background: url(../imgs/login-bg.jpg) no-repeat;
	background-size: cover;
	height: 100%;
}
.regcol{
	color: #fff;
}