		*{
			margin: 0;
			padding: 0;
		}
		ul{
			list-style: none;
		}
		a{
			text-decoration: none;
		}
		img{
			border: 0;
		}
		#nav1{
			width: 562px;
			height: 96px;
			background: url(../imgs/nav.png) no-repeat;
			margin:auto;
		}
		#wrap1{
			width: 1200px;
			margin: auto;	
			overflow: hidden;		
		}
		#wrap1 .list{
			float: left;
			margin-right:10px;
		}
		#wrap1 .list li{
			padding: 10px;
		}
		#wrap1 .list img{
			width: 270px;
		}